<h1>Audio Video Equipment Rentals</h1>  <br>
<div>
  Select the options to view below:
</div>
<li><%= link_to 'Inventory', inventories_url %></li>
<li><%= link_to 'Clients', customers_url %></li>
<li><%= link_to 'Rentals', rentals_url %></li>